/*-- scss:defaults --*/
* { font-family: ticketing regular !important;}

$white: #ffffff;

$light: #E4E4E4;
$dark: #0F2755;
$primary: #34B5D9;
$secondary: #D38EF4;
$info: #5dce74;
$success: #6fc500;
$warning: #ffca8c;
$danger: #ff0f6d;

$link-color: $secondary;
